<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 id="title">CAR PARK</h1>

    <div class="carpark-all-blocks">
        <div class="carpark-block-one">
        </div>

        <div class="carpark-block-two">
        </div>

        <div class="carpark-block-three">
        </div>

        <div class="carpark-block-four">
        </div>
    </div>
</body>

</html>